[Unit]
Description=Slurm node daemon
After=network.target munge.service
Requires=munge.service
ConditionPathExists=/opt/slurm/etc/slurm.conf

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/slurmd
ExecStart=/opt/slurm/sbin/slurmd $SLURMD_OPTIONS
PIDFile=/var/run/slurmd.pid
LimitMEMLOCK=infinity 
LimitSTACK=infinity 
LimitCPU=infinity 

[Install]
WantedBy=multi-user.target
